/* Premium Amenities Container */
.premium-amenities-container {
    width: 100%;
    margin: 0 auto;
}

/* Responsive */
@media (max-width: 900px) {
    .premium-amenities-container {
        padding: 0;
    }
}
